* {
  font: "JetBrainsMono Nerd Font 7";
  background: #1e1e2e;
  foreground: #cdd6f4;
  border-color: #89b4fa;
}

window {
  width: 400px;
  location: center;
  anchor: center;
  border: 2px;
  padding: 10px;
}

mainbox {
  orientation: vertical;
  spacing: 5px;
}

message {
  font: "JetBrainsMono Nerd Font 6";
  padding: 5px;
  horizontal-align: 0.5;
}

entry {
  font: "JetBrainsMono Nerd Font 6";
  placeholder: "";
}

listview {
  lines: 1;
  columns: 1;
  spacing: 5px;
}

